<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      @import
      url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
      body { margin: 0; } table { border-spacing: 0; } td { padding: 0; } img {
      border: 0; } .wrapper { width: 100%; table-layout: fixed; max-width:
      600px; font-family: 'DM Sans', sans-serif; text-align: left; /*
      text-align: left; */ /* background-color: #0B0B1D; */ }
    </style>
  </head>

  <body>

    <center class="wrapper">

      <table class="main" width="100%">
        <p>Hello {{engineer}}</p>
        <p>Customer Name:
          {{customer}}
          has marked the
          {{project}}
          as completed.</p>

        <!-- if revision files length > 1, final selected version -->
        <p>The finalized version was {{notes}}</p>

        <p>Regards,</p>
        <h4>Bay Owl Online Studios</h4>
        <!-- FOOTER SECTION -->
      </table>
      <!-- End Main Class -->

    </center>
    <!-- End Wrapper -->

  </body>

</html>