<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bay Owl Studios Online Service</title>
    <style type="text/css">
      @import
      url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
      body { margin: 0; } table { border-spacing: 0; } td { padding: 0; } img {
      border: 0; } .main { width: 100%; max-width: 600px; background-color:
      #fff; font-family: sans-serif; color: #4a4a4a; }
    </style>
  </head>

  <body>
    <table class="main" width="100%">
      <tr>
        <td>
          <p>
            Hello Admin,<br />We have a new paid service purchase, below is the
            summary for your reference
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Customer Name:
            {{customer}}
            Purchase Services Summary:
            {{service}}
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            To review the service and assign it to an engineer please visit the
            admin panel.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            In case of any queries, feel free to write back to us.<br /><br
            />Regards,<br />Team Bay Owl
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>